@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: 'Open Sans', sans-serif;

$developerColor: gray;

$success: #48c774;
$info: #04A9F5;
$warning: #FAFF00;
$danger: #ff0000;

$backgrounColor: #F4F8FB;
$backgrounColorCard: #ffff;
$backgrounColorImput: #F4F8FB;
$navbar: #3F4D66;




